{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="{{ asset('uploads/'~admin.image) }}" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="{{ asset('uploads/'~admin.image) }}" alt="...">
                            <h5 class="title">{{ admin.companyName }}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title" style="color:#EF857D">Compte administrateur</h5>
                </div>
                <div class="card-body">
                    {{ include('admin_settings/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}