{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification User{% endblock %}

{% block body %}

<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-user">

                <div class="card-body">
                    <a href="#">
                        <img class=" border-gray img-responsive center-block" src="{{ asset('uploads/'~admin.image) }}" alt="..." style="">
                        <h5 class="title text-center" style="margin-top:50px;color:#F2877D;">{{ admin.companyName|upper }}</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title" style="color:#EF857D; font-weight: bold">Compte administrateur</h5>
                </div>
                <div class="card-body">
                    {{ include('admin_settings/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}