{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification Menu{% endblock %}

{% block body %}
    <h1>Modification Menu</h1>

    {{ include('admin_menu/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_admin_menu_index') }}">back to list</a>

    {{ include('admin_menu/_delete_form.html.twig') }}
{% endblock %}
