<form method="post" action="{{ path('app_admin_promo_code_delete', {'id': promo_code.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promo_code.id) }}">
    <button class="btn btn-danger btn-round">Delete</button>
</form>
