{% extends 'base.html.twig' %}

{% block title %}New Cgu{% endblock %}

{% block body %}
    <h1>Create new Cgu</h1>

    {{ include('admin_cgu/_form.html.twig') }}

    <a href="{{ path('app_admin_cgu_index') }}">back to list</a>
{% endblock %}
