{% extends 'baseAdmin.html.twig' %}

{% block title %}Cgu{% endblock %}

{% block body %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Conditions générales d'utilisation de ventes <a href="{{ path('app_admin_cgv_index', {'id': cgv.id}) }}"> <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-md " data-original-title="" title="">
                                <i class="fa fa-pencil"> </i>
                            </button></a></h4>
                </div>
                <div class="card-body">
                    {{ cgv.texte|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
