{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Bloc description</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Texte</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Bloc contact</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Adresse</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
